<strong>Olá, {{ dispatcher }}</strong>
<p>Houve uma alteração na ordem {{order}}, segue informações abaixo:</p>

<p>
  <strong>ID: </strong> {{ order }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>O produto já está disponível para retirada</small>
</p>
